
<!doctype html>
<html lang="en">
<head>
	<link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
    <script src="../static/js/main.js"></script>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="https://fonts.googleapis.com/css2?family=Comfortaa&family=Suez+One&display=swap" rel="stylesheet">
	<title>{% block title %}{% endblock %}</title>
	<meta name="Description" content="A dictionary to english.">
</head>

<body>
	<div id="container">

		<header>
			<h1 id="titleToChange">{% block heading %}{% endblock %}</h1>
		</header>

		<nav>
            <input type="checkbox" name="drop_down_menu" />
			<span></span>
			<span></span>
			<span></span>
			<ul>
                <li><a href="\" onmouseover="titleCapitialise()" onmouseleave="titleRevert()">Home</a></li> <!-- This easter egg was created by Michael Brown -->
                <br>
                <li><a href="\definitions" >Definitions</a></li>
				<br>
                <li><a href="\people" >People</a></li>
				<br>
                <li><a href="\ㅤㅤㅤㅤㅤ" >ㅤㅤㅤㅤㅤ</a></li>

			</ul>
		</nav>





		<main>
            {% block main%}{% endblock %}

        </main>


		<footer>
			<p>
				&copy; Jacob
			</p>
		</footer>

	</div>
</body>
</html>
