{% extends 'base.html' %}

{% block title %}English Dictionary | Home{% endblock %}

{% block heading %}
    The 0fficial English Dictionary
    <h1> Definitions </h1>
{% endblock %}

{% block main %}
<div id="blur">
    <h1 style="background-color:darkcyan;"><center> Definitions </center></h1>
    <br>


<table>
    <th>English</th>
    <th>Category</th>
    <th>Definition</th>
    <th>Level</th>
    {% for row in data %}

        <tr>

            <td>{{row[0]}}</td>
            <td>{{row[1]}}</td>
            <td>{{row[2]}}</td>
            <td>{{row[3]}}</td>

        </tr>
    {% endfor %}

</table>
</div>
{% endblock %}

