{% extends 'base.html' %}

{% block title %}English Dictionary | Home{% endblock %}

{% block heading %}
    The 0fficial English Dictionary
    <h1> Definitions </h1>
{% endblock %}

{% block main %}
    <h1 style="background-color:darkcyan;"><center> Definitions </center></h1>
    <br>

<div id="blur">


<table>
    <th>  #  </th>
    <th>Word</th>
    <th>Word Type</th>
    <th>Definition</th>
    <th>Image</th>
    {% for result in results %}

        <tr>

            <td>{{result[0]}}</td>
            <td>{{result[1]}}</td>
            <td>{{result[2]}}</td>
            <td>{{result[3]}}</td>
            <td><img src="static/images/{{result[4]}}.jpg" /></td>
        </tr>
    {% endfor %}

</table>
</div>
{% endblock %}

